extends layout

block content
	a#random(href='#') Get Random Numbers
	ul#numbers

	form(method="post" action="/add")
	input(type="text" name="number" placeholder="100")
	input(type="submit" value="Submit")
	
	
block scripts
	script(src='/scripts/index.js')

	//- h1 Hello Boulder!


